/build

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.ilk
*.pdb

!/lib/
!/lib/*.dll
!/lib/*.a
!/lib/*.lib

/ui/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/ui/.env.local
/ui/.env.*.local

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
